node_modules
public
.tmp
.idea
client/bower_components
client/assets/images/locations
dist
/server/config/local.env.js
npm-debug.log
client/assets/images/.DS_Store
client/assets/.DS_Store
client/.DS_Store
.DS_Store
