
.bold{
	font-weight: bold;
}

.editable-text{
	width:300px;
}

.editable-textarea{
	width:300px;
}

.editable-number{
	width:300px;
}

map .managermaps {
    height: 100px;
    min-height: 100%;
    width: 100px;
}